body {
    background-color: #FDFBF6;
}
.rectangle {
    width: 1345px;
    height: 45px;
    background-color: #88A28B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    gap: 200px;
}
.menu a {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}
h1 {
    color: #88A28B;
    font-size: 40px;
    margin: 20px;
}
h2 {
    color: #000000;
    font-size: 26px;
    font-weight: 100;
    margin: 20px;
}
.line {
    border: none;
    width: 100%;
    background-color: black;
    height: 1px;
    margin: 5px auto 40px auto;
}
.menu span {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.cart-box {
    width: 100%;
    padding: 0 40px;
}
.cart-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.cart-img {
    width: 70px;
    height: 70px;
    background-color: #F7DCDC;
}
.cart-into {
    width: 200px;
}
.product-name {
    font-weight: bold;
    margin: 0;
}
.product-color {
    margin: 0;
    font-size: 14px;
}
.qty-box {
    display: flex;
    align-items: center;
    border: 1px sold black;
    padding: 5px 10px;
    gap: 10px;
}
.qty-box button {
    font-size: 18px;
    cursor: pointer;
}
.price {
    font-weight: bold;
}
.cart-total {
    text-align: right;
    padding: 20px 40px;
}