body {
    background-color: #FFFFFF;
}
.rectangle {
    width: 1345px;
    height: 45px;
    background-color: #88A28B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    gap: 200px;
}
.menu a {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}
h1 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 10px 0 10px 20px;
    line-height: 1;
}
.boxes {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.left-box{
    width: 460px;
    height: 530px;
    margin: 40px auto;
    background-color: #FDFBF6;
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
}
.left-box h2 {
    color: #000000;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px 0 0 12px;
}
.left-box h3 {
    color: #000000;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px 0 0 12px;
}
.left-box h4 {
    color: #000000;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px 0 0 12px;
}
.form-row {
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 0 auto;
}
.form-row label {
    font-family: Arial, Helvetica, sans-serif;
    width: 15%;
    font-size: 16px;
    margin: 0;
}
.form-row input {
    background-color: #FFFFFF;
    width: 380px;
    height: 14px;
    padding: 8px 12px;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.small-box {
    width: 406px;
    height: 89px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
}
.payment-method {
    display: block;
    margin: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
.payment-method input[type="radio"] {
    margin: 8px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}
.payment-method label {
    cursor: pointer;
}
.card-box {
    display: block;
    margin: 2px 0 0 10px;
}
.card-box input {
    background-color: #FDFBF6;
    width: 260px;
    height: 12px;
    padding: 8px 12px;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.small-box2 {
    width: 406px;
    height: 64px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
}
.cash-payment {
    display: block;
    margin: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
.cash-payment input[type="radio"] {
    margin: 8px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}
.cash-payment label {
    cursor: pointer;
}
p {
    display: block;
    margin: 6px 0 0 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;   
}
h5 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 1;
}
.right-box{
    width: 460px;
    height: 530px;
    margin: 40px auto;
    background-color: #FDFBF6;
    position: absolute;
    right: 50px;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
}
.total {
    font-size: 18px;
    margin: 10px;
}